
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    clear: both;
}
                    /* NAVBAR */
header{ 
    display: flex;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    z-index: 1;   
}

nav h4{
    margin-left: 10px;
    font-size:20px;
    
    
}
nav ul a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight:600;
}
                        /* SECTION HOME */
#home{
    display:flex;
    justify-content:center;
    align-items:center;
    background: #191F1F;
    flex-direction: column;
    padding:25%;
}                        
div.home{
    background: #191F1F;
    text-align: center;
}
.home p{
    color: white;
    font-size: 20px;
}
.home h4{
    font-size:40px;
}
#buttons{
    background: #191F1F;
    padding-top:30px;
    
}
#buttons span:nth-child(1){
    padding:10px 25px;
    background:#FE5C02;
    border: none;
    border-radius:5px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
}    
#buttons span:nth-child(2){
    padding:10px 20px;
    background:#191F1F;
    border: none;
    border-radius:5px;
    font-weight: 600;
    border: solid 1px #FE5C02;
    cursor: pointer;
}
#buttons span.projetos a{           
    text-decoration: none;
    color: white;
}
#buttons span.cv a{
    text-decoration: none;
    color: #FE5C02;         
}
                                /* SECTION SOBRE */

#sobre{
    background: #262D2D;
    padding:15% 70px;
    z-index: 2;
}

#quemsoueu{
    width: 80vh;
    height: 50vh;
    position: relative;
    background: #262D2D;
    border:none;
    border-radius: 15px;
    left:60px;
    box-shadow: 10px 10px 10px 10px #161515;
   
}
#quemsoueu img{
    position: absolute;
    top: 0;
    left: 140%;
   width: 50%;
   height: 100%;
   border: solid 2px black;
   border-radius: 5%;
}
#quemsoueu h2{
    padding: 30px;
    font-size: 40px;
}
#quemsoueu p{
    margin-left: 10px;
    margin-right: 10px;
    text-align:justify;
}
                        /* SECTION PROJETOS  */
#projetos {
    padding: 29%;
    background: #191F1F;
}


                        /* SECTION CONTATOS */

#contatos{
     background: #262D2D;
    padding:120px;
    display: flex;
    justify-content: space-between;
}



.contatos_img i:nth-child(1){
    position: relative;
    font-size: 300px;
    color: #E00010;
    top:40px;
   
}

.contatos_img i:nth-child(2){
    position: relative;
    right: 150px;
    bottom: 120px;
    font-size: 300px;
    color: white;
   
}

#contatos .contatos_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px;
    font-size: 25px;

}
.contatos_box .contatos_icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-50px
}
.contatos_box h2{
    padding-bottom: 10px;
}
.contatos_box p{
    padding-bottom: 10px;
}

.contatos_box span i {
    font-size: 50px;
}